* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: var(--font);
  margin-right: 0;
}

:root {
  --blue: #1f618d;
  --white: #fff;
  --font: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--blue);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 8px;
}
